@model BookCollection.Models.Publisher

@{
    ViewBag.Title = "Publisher details";
}

<h2>Publisher: @Html.DisplayFor(model => model.Name)</h2>

<div>
    <p>
        @BC.IconButton("Publishers", "Edit", "pencil", "Edit", new { id = Model.PublisherID })
        @BC.IconButton("Publishers", "Index", "th-list", "Back to List")
    </p>
    <hr />
</div>


@Html.Partial("_RelatedBooks", Model.Books)