@model BookCollection.Models.Subject

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Subject: @Html.DisplayFor(model => model.Name)</h2>

<div>
    <p>
        @BC.IconButton("Subjects", "Edit", "pencil", "Edit", new { id = Model.SubjectID })
        @BC.IconButton("Subjects", "Index", "th-list", "Back to List")
    </p>
    <hr />
</div>

@Html.Partial("_RelatedBooks", Model.Books)
