@model IEnumerable<BookCollection.Models.Book>

<h2>Related Books</h2>

@if (Model.Count() == 0)
{
    <text>Oh, no! No books found...</text>

}

@if (Model.Count() > 0)
{



<table class="table table-bordered">
    <tr>
        <th style="width:50%">
            Title
        </th>
        <th style="width:30%">
            Author
        </th>
        <th style="width:20%">
            Publisher
        </th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "Books", new { id = item.BookID }, null)
            </td>
            <td>
                @if (item.MainAuthor == "")
                {
                    <text>-</text>
                }
                else
                {
                    @Html.ActionLink(item.MainAuthor, "Details", "Authors", new { id = item.MainAuthorID }, null)
                }
            </td>
            <td>
                @Html.ActionLink(item.Publisher.Name, "Details", "Publishers", new { id = item.PublisherID }, null)
            </td>
        </tr>
    }
</table>

}
